@font-face {
  font-family: 'Avenir';
  src:  url('../fonts/AvenirNext-Regular.woff2') format('woff2'),
        url('../fonts/AvenirNext-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Avenir", Helvetica;
}

.css {
  color: tomato;
}

.image {
  display: block;
  height: 300px;
  width: 300px;
  margin: 0 auto 100px;
  border-radius: 50%;
  object-fit: cover;
}